.App {
  text-align: center;
  
}

body {
  }

.App-header {
  background-color: #080808a6;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}



.logo{
  background-color: violet;
  
}

.footer {
  background-color: tomato;
  
}
  

